CREATE DATABASE {{POSTGRES_DB}} OWNER {{POSTGRES_SUPERUSER}};

\c {{POSTGRES_DB}}

CREATE SCHEMA IF NOT EXISTS app AUTHORIZATION {{POSTGRES_SUPERUSER}};
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = '{{POSTGRES_APP_USER}}') THEN
        CREATE ROLE {{POSTGRES_APP_USER}} LOGIN PASSWORD '{{POSTGRES_APP_PASSWORD}}' INHERIT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = '{{POSTGRES_API_USER}}') THEN
        CREATE ROLE {{POSTGRES_API_USER}} LOGIN PASSWORD '{{POSTGRES_API_PASSWORD}}' INHERIT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = '{{POSTGRES_READONLY_USER}}') THEN
        CREATE ROLE {{POSTGRES_READONLY_USER}} LOGIN PASSWORD '{{POSTGRES_READONLY_PASSWORD}}' INHERIT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = '{{POSTGRES_MIGRATIONS_USER}}') THEN
        CREATE ROLE {{POSTGRES_MIGRATIONS_USER}} LOGIN PASSWORD '{{POSTGRES_MIGRATIONS_PASSWORD}}' INHERIT CREATEDB;
    END IF;
END
$$;

GRANT CONNECT, TEMP ON DATABASE {{POSTGRES_DB}} TO {{POSTGRES_APP_USER}}, {{POSTGRES_API_USER}}, {{POSTGRES_MIGRATIONS_USER}}, {{POSTGRES_READONLY_USER}};

GRANT USAGE ON SCHEMA app TO {{POSTGRES_APP_USER}}, {{POSTGRES_API_USER}}, {{POSTGRES_MIGRATIONS_USER}};

GRANT SELECT ON ALL TABLES IN SCHEMA app TO {{POSTGRES_READONLY_USER}};
GRANT SELECT ON ALL SEQUENCES IN SCHEMA app TO {{POSTGRES_READONLY_USER}};
ALTER DEFAULT PRIVILEGES IN SCHEMA app GRANT SELECT ON TABLES TO {{POSTGRES_READONLY_USER}};
ALTER DEFAULT PRIVILEGES IN SCHEMA app GRANT SELECT ON SEQUENCES TO {{POSTGRES_READONLY_USER}};

GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA app TO {{POSTGRES_APP_USER}}, {{POSTGRES_API_USER}};
GRANT USAGE, SELECT, UPDATE ON ALL SEQUENCES IN SCHEMA app TO {{POSTGRES_APP_USER}}, {{POSTGRES_API_USER}};

ALTER DEFAULT PRIVILEGES IN SCHEMA app GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO {{POSTGRES_APP_USER}}, {{POSTGRES_API_USER}};
ALTER DEFAULT PRIVILEGES IN SCHEMA app GRANT USAGE, SELECT, UPDATE ON SEQUENCES TO {{POSTGRES_APP_USER}}, {{POSTGRES_API_USER}};

GRANT ALL PRIVILEGES ON SCHEMA app TO {{POSTGRES_MIGRATIONS_USER}};
